---
import Layout from '../layouts/Layout.astro';
import { getSingleton } from 'astro:content';

let title = 'About';
let AboutContent;
try {
  const aboutEntry = await getSingleton('about');
  if (aboutEntry) {
    const { Content, title: t } = await aboutEntry.render();
    title = t ?? title;
    AboutContent = Content;
  }
} catch {}
---

<Layout title={title}>
  <main class="container about-page">
    {AboutContent ? <AboutContent /> : <p>Add content via Keystatic.</p>}
  </main>
</Layout> 