---
import Layout from '../layouts/Layout.astro';

const title = 'About';
---

<Layout title={title}>
  <main class="container about-page">
    <h1>About</h1>
    <p>This is the about page.</p>
  </main>
</Layout> 