---
// Simple test component
---

<div 
  id="test-turnstile"
  class="cf-turnstile"
  data-sitekey="1x00000000000000000000AA"
  data-theme="auto"
  data-size="normal"
></div>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<style>
  .cf-turnstile {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
  }
</style> 